.dotsContainer {
    z-index: 2;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.dot {
    height: 6px;
    width: 6px;
    margin: 0 3px;
    border-radius: 50%;
    background-color: #A8A8A8;
    transition: background-color 0.35s linear;
    transition-delay: 0.35s;
}

.dot.selected {
    background-color: #fff;
}