.imageContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.35s;
}

.sliderItem {
    max-width: 600px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}