.postDescContainer {
    width: inherit;
    height: 375px;
    border-left: 1px solid rgb(239, 239, 239);
    padding: 22px 16px 16px 16px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    display: flex;
    flex-direction: column;
}

.postDescContent {
    width: 100%;
    display: flex;
    max-height: 343px;
    flex-direction: row;
}

.description {
    width: 100%;
    max-height: 100%;
    white-space: normal;
    line-height: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.description a { 
    position: absolute;
    top: 0;
    height: 0;
    font-weight: bold;
    cursor: pointer;
}

.description .postDate {
    margin: 16px 0 4px 0;
    font-size: 10px;
    cursor: default;
    opacity: 0.7;
}


