.headerContainer {
    width: 335px;
    height: 72px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(239, 239, 239);
    border-left: 1px solid rgb(239, 239, 239);
    box-sizing: border-box;
}

.avatar {
    width: 32px;
    height: 32px;
    flex: 1 0 auto;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.headerContent {
    width: 100%;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.userName {
    font-weight: bold;
    cursor: pointer;
}

.follow {
    display: flex;
    flex-direction: row;
}

.follow span {
    margin: 0 4px;
}

.follow a {
    font-weight: bold;
    color: rgb(0, 149, 246);
    cursor: pointer;
}

.options {
    width: 16px;
    height: 16px;
    display: flex;
    cursor: pointer;
}