.slider {
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #000;
}